<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Experienced Devops Professionals</h2>
                <hr class="light">
                <p class="text-faded">
                We are experienced pratitioners of automating large scale infrastructure powered by VMware and OpenStack. Our diverse backgrounds include HPC software development and healthcare IT operations. We are certified Puppet Professional/Developer and published authors with extensive experience developing Puppet modules.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact Us</a>
            </div>
        </div>
    </div>
</section>
