<aside class="bg-dark">
      <div class="container text-left">
        <section id="training">
              <h2>Training</h2>
              <p>
              We offer a variety of classes that cover technology that can help you move towards continuous delivery. Have an idea where you want to be, but not a clear grasp of the technologies in the space? We can help.
              </p>
        </section>
        <section id="puppet">
          <h2>Puppet</h2>
          <p>
          </p>
        </section>
        <section id="cicd">
          <h2>Continuous Delivery/Continuous Integration<h2/>
        </section>
        <section id="custom">
          <h2>Custom Solutions</h2>
          <p>We also work on custom development projects related to infrastructure automation, continuous devlier, and </p>
        </section>
      </div>
</aside>
