<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Training Classes</h3>
                    <p class="text-muted">Need help sorting through open source products for devops? We offer customized onsite training.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Continuous Integration</h3>
                    <p class="text-muted">We help our customers test and deliver their products faster and more reliably.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Puppet</h3>
                    <p class="text-muted"><a href="https://puppetlabs.com/blog/bodeco-takes-gold">Recognized</a> top Puppet consultants. We are among the most respected Puppet experts in the world.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Custom Solutions</h3>
                    <p class="text-muted">We can turn vision into reality when it comes to infrastructure and deployment automation solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
